body {
  padding-top: 70px;
}

.product-card:hover {
  transform: scale(105%);
  transition: 0.15s;
  cursor: pointer;
}

.product-list-img{
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.product-card-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.product-card-badge {
  right: -10px ;
  background-color: #0d6efd;
  transform: translate(center,left);
}

.product-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 限制顯示行數 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-car-body {
  height: 150px ;
}

.aside-list:hover a{
  color:  #0d6efd !important;
}

.product-modal-primary-img{
  width:315px ;
  height: 315px;
  object-fit: cover;
}

.product-modal-secondary-img{
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.product-modal-secondary-img:hover{
  transform: scale(105%);
  transition: 0.3s;
  cursor: pointer;
}

.product-modal-secondary-img-container{
  height: 315px;
  overflow-y: scroll;
}

.cart-number-input {
  width: 50px !important;
  height: 31px;
}

.product-detail{
  height: 90vh !important;
  overflow-y: scroll !important;
}

.pre-line {
  white-space: pre-line;
}

.cart-offcanvas{
  width: 660px !important;
}

.loading-contain {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255,255,255,0.5);
  z-index: 10000;
  backdrop-filter: blur(2px);
}